##  Begins of GENERIC SECTION  ##
 
[GENERIC]
	#Possible supported interface values : 
	# 0: S1-U eNB GTP-U interface
	# 1: S1-U SGW GTP-U interface
	# 4: S5/S8 SGW GTP-U interface
	# 5: S5/S8 PGW GTP-U interface
	# 6: S5/S8 SGW GTP-C interface
	# 7: S5/S8 PGW GTP-C interface
	# 10: S11 MME GTP-C interface
	# 11: S4/S11 SGW GTP-C interface

	interface = 6

    #possible message to use
    # 101: "delete PDN connection set request"  
   

	#List of 3gpp message's types
    #integer value followed by comma	
	3gpp_messages_list = 101,
	
	#to set in order to calculate FQ-CSID if based on IP
    source_ip = 127.0.0.1

    #hex value followed by comma
    sqn = 0x00000000,
    
##  Begins of IEs SECTION  ## 

[IES]
    mcc = 222
    mnc = 88
    
# possible values: 0, 2. Suggested value 0
    node_id_type = 2  
    